.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache


#Ideal

*.iml

## Directory-based project format:
.idea/

## jenv
.java-version

## OSX
.DS_Store

##Databas from run
db